@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.columns{
  column-count: 4;
  column-rule: 2px solid grey;
  column-gap: 30px;

}
.first-para {
  margin-top: 0px;
}
.columns h2 {
  margin: 10px;
  text-align: center;
  column-span: all;
  font-size: 3rem;
  color: #333;
  margin-bottom: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
}
span {
  white-space: nowrap;
}